.deliver {
    color: red;
}

.feedback {
    margin-left: 20px;
    font-size: 0.9em;
    overflow: visible;
    overflow-wrap: normal;
}

.feedback span {
    overflow: visible;
    overflow-wrap: normal;
}