<!--
  Generated template for the CoachingGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Coaching</ion-title>
        <ion-buttons end><button ion-button menuToggle ion-button icon-only><ion-icon name="menu"></ion-icon></button></ion-buttons>
    </ion-navbar>
    <ion-segment #segment id="refereeSegment" *ngIf="coaching" [(ngModel)]="currentRefereeIdx" (ionChange)="refereeSelected(currentRefereeIdx)">
        <ion-segment-button value="{{i}}" *ngFor="let referee of coaching.referees; index as i" class="refTab">
            {{referee.refereeShortName}}<sup><span [ngClass]="{'badge-warning': referee.positiveFeedbacks.length==0}">{{referee.positiveFeedbacks.length}}</span>-<span [ngClass]="{'badge-warning': referee.feedbacks.length==0}">{{referee.feedbacks.length}}</span></sup>
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content *ngIf="coaching">
    <div *ngIf="currentReferee" style="text-align: center;margin: 10px 0; font-size: 1.2em;">{{currentReferee.firstName}} {{currentReferee.lastName}}, {{currentReferee.referee.refereeLevel}}/{{currentReferee.referee.refereeCategory}}</div>
    <ion-list>
        <ion-item-group>
            <ion-item-divider color="light">Positive points ({{coaching.referees[currentRefereeIdx].positiveFeedbacks.length}})</ion-item-divider>
            <ion-item *ngFor="let positiveFeedback of coaching.referees[currentRefereeIdx].positiveFeedbacks; let idx = index" [ngClass]="{'period1' : positiveFeedback.period == 1, 'period2' : positiveFeedback.period == 2}">
                <ion-icon name="star" (click)="deliverPositiveFeedback(positiveFeedback, idx)" class="star" [ngClass]="{'yellowStar' : positiveFeedback.deliver}"></ion-icon>
                <p (click)="selectPositiveFeedback(positiveFeedback, idx)" class="feedbackTxt">{{positiveFeedback.skillName}}</p>
                <ion-icon *ngIf="!readonly" item-end name="trash" (click)="deletePositiveFeedback(idx)"></ion-icon>
            </ion-item>
            <div *ngIf="coaching.referees[currentRefereeIdx].positiveFeedbacks.length == 0 && !readonly" style="padding: 5px;">No positive feedback, please click on green + to add one.</div>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="light">Axis of improvment ({{coaching.referees[currentRefereeIdx].feedbacks.length}})</ion-item-divider>
            <ion-item *ngFor="let feedback of coaching.referees[currentRefereeIdx].feedbacks; let idx = index" [ngClass]="{'period1' : feedback.period == 1, 'period2' : feedback.period == 2}">
                <ion-icon name="star" (click)="deliverFeedback(feedback, idx)" class="star" [ngClass]="{'yellowStar' : feedback.deliver}"></ion-icon>
                <p (click)="selectFeedback(feedback, idx)" class="feedbackTxt">{{feedback.problemShortDesc}}</p>
                <ion-icon *ngIf="!readonly" item-end name="trash" (click)="deleteFeedback(idx)"></ion-icon>
            </ion-item>
            <div *ngIf="coaching.referees[currentRefereeIdx].feedbacks.length == 0 && !readonly" style="padding: 5px;">No feedback, please click on red + to add one.</div>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="light">Misc</ion-item-divider>
            <ion-grid no-padding item-content>
                <ion-row>
                    <ion-col col-4>
                        <ion-item *ngIf="lookingForUpgrade()">
                            <ion-label stacked>Upgrade</ion-label>
                            <ion-input *ngIf="readonly" type="text" [(ngModel)]="coaching.referees[currentRefereeIdx].upgrade" readonly="true" style="text-align: center;"></ion-input>
                            <ion-select *ngIf="!readonly" [(ngModel)]="coaching.referees[currentRefereeIdx].upgrade" (ionChange)="saveCoaching()">
                                <ion-option value="DNS">Do Not See</ion-option>
                                <ion-option value="DNSE">Do Not See Enough</ion-option>
                                <ion-option value="No">No</ion-option>
                                <ion-option value="Possible">Possible</ion-option>
                                <ion-option value="Yes">Yes</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                            <ion-label stacked>Rank</ion-label>
                            <ion-input type="number" [(ngModel)]="coaching.referees[currentRefereeIdx].rank" (change)="saveCoaching()" [readonly]="readonly" style="text-align: center;"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                            <ion-label stacked>Current Period</ion-label>
                            <ion-input type="number" [(ngModel)]="currentPeriod" [readonly]="readonly" style="text-align: center;"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-item-group>
    </ion-list>
    <button offset-5 col-2 ion-button round (click)="sendCoaching($event)"><ion-icon name="send"></ion-icon></button>
    <ion-fab bottom right *ngIf="!readonly">
        <button ion-fab (click)="newPositiveFeedback($event)" class="plusButton greenButton">+</button>
        <button ion-fab (click)="newFeedback($event)" class="plusButton redButton">+</button>
    </ion-fab>
</ion-content>