<!--
  Generated template for the CoachingImprovmentFeedbackEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Axis of improvment</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-searchbar *ngIf="!readonly" [(ngModel)]="searchInput" [showCancelButton]="false" (ionInput)="onSearchBarInput($event)"></ion-searchbar>
        <div *ngIf="pros && pros.length === 0" style="text-align: center; font-style: italic">No PRO found.</div>
        <ion-item-group *ngIf="readonly && showProList" style="margin-bottom: 30px; border: 1px solid lightgray;">
            <ion-item-divider color="light">PRO found</ion-item-divider>
            <ion-item *ngFor="let pro of pros">
                <button ion-item (click)="proSelected($event, pro)" style="border: none;">
                          {{pro.problemShortDesc}}
                        </button>
            </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="feedback">
            <ion-item-divider color="light">PRO</ion-item-divider>
            <ion-item>
                <ion-label fixed>Name</ion-label>
                <ion-input type="text" placeholder="Short description of the problem (Required)" [(ngModel)]="feedback.problemShortDesc" placeholder="short desc (required)" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Problem</ion-label>
                <ion-textarea placeholder="Description of the problem" rows="3" [(ngModel)]="feedback.problem" [readonly]="readonly"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label fixed>Remedy</ion-label>
                <ion-textarea placeholder="Description of the remedy" rows="3" [(ngModel)]="feedback.remedy" [readonly]="readonly"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label fixed>Outcome</ion-label>
                <ion-textarea placeholder="Description of the outcome" rows="3" [(ngModel)]="feedback.outcome" [readonly]="readonly"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label fixed>Skill</ion-label>
                <ion-input type="text" [(ngModel)]="feedback.skillName" [readonly]="readonly"></ion-input>
            </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="feedback">
            <ion-item-divider color="light">Feedback</ion-item-divider>
            <ion-item>
                <ion-label fixed>Apply later</ion-label>
                <ion-input *ngIf="readonly" type="text" [readonly]="true">{{feedback.appliedLater?'Yes':'No'}}</ion-input>
                <ion-toggle *ngIf="!readonly" [(ngModel)]="feedback.appliedLater"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label fixed>Priority</ion-label>
                <ion-input type="number" [(ngModel)]="feedback.priority" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Period</ion-label>
                <ion-input type="number" [(ngModel)]="feedback.period" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Deliver</ion-label>
                <ion-input *ngIf="readonly" type="text" [readonly]="true">{{feedback.deliver?'Yes':'No'}}</ion-input>
                <ion-toggle *ngIf="!readonly" [(ngModel)]="feedback.deliver"></ion-toggle>
            </ion-item>
        </ion-item-group>
    </ion-list>
    <div style="text-align: center;">
        <button ion-button round (click)="newPro($event)" *ngIf="feedback && feedback.problemShortDesc" style="width: 90%;">Register PRO in library</button>
        <button ion-button round (click)="copyFeedbackToAnotherReferee($event)" *ngIf="!readonly && feedback && getOtherReferees().length > 0" style="width: 90%;">To others referees</button>
    </div>
</ion-content>