<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">
            <span><img src="assets/imgs/logo.png" height="30" /></span> Referee Coaching App
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="connected">
        <ion-item detail routerLink="/coaching/list">
            <ion-label class="menu-entry">Coach a game</ion-label>
        </ion-item>
        <ion-item detail routerLink="/assessment/list">
            <ion-label class="menu-entry">Assess a referee</ion-label>
        </ion-item>
        <ion-item detail routerLink="/referee/list">
            <ion-label class="menu-entry">Referees</ion-label>
        </ion-item>
        <ion-item detail routerLink="/pro/list">
            <ion-label class="menu-entry">PROs</ion-label>
        </ion-item>
        <ion-item detail routerLink="/skillprofile/list" *ngIf="isLevelAdmin()">
            <ion-label class="menu-entry">Referee levels</ion-label>
        </ion-item>
        <ion-item detail routerLink="/settings">
            <ion-label class="menu-entry">Settings</ion-label>
        </ion-item>
        <ion-item detail (click)="gotToMyAccount()" *ngIf="this.connectedUserService.isConnected()">
            <ion-label class="menu-entry">My account</ion-label>
        </ion-item>
        <ion-item detail routerLink="/user/select">
            <ion-label class="menu-entry">Change of account</ion-label>
        </ion-item>
        <ion-item (click)="addToHome()" *ngIf="showInstallBtn">
            <ion-label class="menu-entry">Install on device</ion-label>
        </ion-item>
    </ion-list>
    <div *ngIf="connected" color="light" style="text-align: center; font-size: 0.8em; margin-top: 10px;">Connected as {{getShortName()}}.</div>
    <div style="text-align: center; margin-top: 10px;" *ngIf="!connected"><img src="assets/imgs/logo.png" height="150" /></div>
</ion-content>