<ion-header>
    <ion-navbar>
        <ion-title>Create an assessment</ion-title>
        <ion-buttons end><button ion-button menuToggle ion-button icon-only><ion-icon name="menu"></ion-icon></button></ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="assessment" padding>
    <ion-item>
        <ion-label fixed>Competition:</ion-label>
        <ion-input type="text" [(ngModel)]="competition"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Date:</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Slot:</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="assessment.timeSlot"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Field:</ion-label>
        <ion-select [(ngModel)]="assessment.field">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
            <ion-option value="8">8</ion-option>
            <ion-option value="9">9</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="11">11</ion-option>
            <ion-option value="12">12</ion-option>
            <ion-option value="13">13</ion-option>
            <ion-option value="14">14</ion-option>
            <ion-option value="15">15</ion-option>
            <ion-option value="16">16</ion-option>
            <ion-option value="17">17</ion-option>
            <ion-option value="18">18</ion-option>
            <ion-option value="19">19</ion-option>
            <ion-option value="20">20</ion-option>
            <ion-option value="21">21</ion-option>
            <ion-option value="22">22</ion-option>
            <ion-option value="23">23</ion-option>
            <ion-option value="24">24</ion-option>
            <ion-option value="25">25</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Category:</ion-label>
        <ion-select [(ngModel)]="assessment.gameCategory">
            <ion-option value="OPEN">OPEN</ion-option>
            <ion-option value="MXO">MXO</ion-option>
            <ion-option value="MO">MO</ion-option>
            <ion-option value="WO">WO</ion-option>

            <ion-option value="MO30">MO30</ion-option>
            <ion-option value="MO35">MO35</ion-option>
            <ion-option value="MO40">MO30</ion-option>
            <ion-option value="MO45">MO45</ion-option>
            <ion-option value="MO50">MO50</ion-option>

            <ion-option value="SMX">SMX</ion-option>

            <ion-option value="WO27">WO27</ion-option>
            <ion-option value="WO30">WO30</ion-option>
            <ion-option value="WO35">WO35</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Speed:</ion-label>
        <ion-select [(ngModel)]="assessment.gameSpeed">
            <ion-option value="Low">Low</ion-option>
            <ion-option value="Medium">Medium</ion-option>
            <ion-option value="High">High</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Skill:</ion-label>
        <ion-select [(ngModel)]="assessment.gameSkill">
            <ion-option value="Low">Low</ion-option>
            <ion-option value="Medium">Medium</ion-option>
            <ion-option value="High">High</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Referee: {{getReferee(0)}}</ion-label>
        <ion-icon item-end name="search" (click)="searchReferee(0)"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label>Level:</ion-label>
        <ion-select [(ngModel)]="profileId" (ionChange)="updateAssessmentValid()">
            <ion-option *ngFor="let profile of profiles" value="{{profile.id}}">{{profile.name}}</ion-option>
        </ion-select>
    </ion-item>
    <button ion-button full round [disabled]="!assessmentValid" (click)="assess($event)" style="width: 100%;">Assess the referee</button>
    <button ion-button full round [disabled]="!assessmentValid" (click)="sendAssessment($event)" style="width: 100%;">Email this assessment</button>

</ion-content>