<ion-header>
    <ion-navbar>
        <ion-title>Choose an assessment</ion-title>
        <ion-buttons end><button ion-button menuToggle ion-button icon-only><ion-icon name="menu"></ion-icon></button></ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab bottom right>
        <button ion-fab (click)="newAssessment($event)" class="plusButton">+</button>
    </ion-fab>
    <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="false" (ionInput)="onSearchBarInput($event)"></ion-searchbar>
    <ion-list>
        <ion-item-group style="margin-top: 20px;" *ngFor="let assessmentList of assessmentLists">
            <ion-item-divider color="light">{{assessmentList.day}}</ion-item-divider>
            <ion-item *ngFor="let assessment of assessmentList.assessments" [ngClass]="{'past' : isPast(assessment)}">
                <button ion-item (click)="assessmentSelected($event, assessment)" style="border: none;" [ngClass]="{'past' : isPast(assessment)}"> 
                    Referee: {{assessment.refereeShortName}} assess to {{assessment.profileName}}<br>
                    {{getAssessmentDate(assessment)}} {{assessment.timeSlot}}: Field {{assessment.field}}, {{assessment.gameCategory}}
            </button>
                <ion-icon item-end name="trash" (click)="deleteAssessment(assessment)"></ion-icon>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>