<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Settings</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="settings">
        <ion-item>
            <ion-label fixed>Server Url</ion-label>
            <ion-input type="text" [(ngModel)]="settings.serverUrl"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Network for synchro</ion-label>
            <ion-select [(ngModel)]="settings.minNetworkConnectionForSyncho">
                <ion-option value="UNKNOWN">UNKNOWN</ion-option>
                <ion-option value="NONE">NONE</ion-option>
                <ion-option value="3G">3G</ion-option>
                <ion-option value="4G">4G</ion-option>
                <ion-option value="WIFI">Wifi</ion-option>
                <ion-option value="WIRED">Wired</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <button ion-button (click)="saveSettings($event)" style="width: 100%;" class="greenButton">Save settings</button>
    <button ion-button (click)="exportData($event)" style="width: 100%;">Export data</button>
    <button ion-button (click)="importData($event)" style="width: 100%;">Import data</button>
    <button ion-button (click)="resettData($event)" style="width: 100%;" class="redButton">Reset data</button>
    <p *ngFor="let m of msg" class="message">{{m}}</p>
</ion-content>