<!--
  Generated template for the RefereeNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Referee Edition</ion-title>
        <ion-buttons end><button ion-button menuToggle ion-button icon-only><ion-icon name="menu"></ion-icon></button></ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding *ngIf="referee">
    <ion-list>
        <ion-item>
            <ion-label *ngIf="!referee.photo || !referee.photo.url">No photo</ion-label>
            <ion-avatar item-start *ngIf="referee.photo && referee.photo.url"><img src="{{referee.photo.url}}"></ion-avatar>
            <ion-icon item-end name="camera" (click)="getPicture()"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label fixed>First name</ion-label>
            <ion-input type="text" [(ngModel)]="referee.firstName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Last name</ion-label>
            <ion-input type="text" [(ngModel)]="referee.lastName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Short Name</ion-label>
            <ion-input type="text" [(ngModel)]="referee.shortName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Email</ion-label>
            <ion-input type="text" [(ngModel)]="referee.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Country</ion-label>
            <ion-select [(ngModel)]="referee.country">
                <ion-option *ngFor="let country of constantes.countries" value="{{country[0]}}">{{country[1]}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="referee.gender">
                <ion-option value="F">Female</ion-option>
                <ion-option value="M">Male</ion-option>
            </ion-select>
        </ion-item>
        <ion-item-group>
            <ion-item-divider color="light">Referee</ion-item-divider>
            <ion-item>
                <ion-label>Referee Level</ion-label>
                <ion-select [(ngModel)]="referee.referee.refereeLevel">
                    <ion-option *ngFor="let refereeLevel of constantes.refereeLevels" value="{{refereeLevel}}">{{refereeLevel}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Referee category</ion-label>
                <ion-select [(ngModel)]="referee.referee.refereeCategory">
                    <ion-option value="OPEN">Open</ion-option>
                    <ion-option value="SENIOR">Senior</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Looking for upgrade?</ion-label>
                <ion-select [(ngModel)]="referee.referee.nextRefereeLevel">
                    <ion-option value="">No</ion-option>
                    <ion-option *ngFor="let refereeLevel of constantes.refereeLevels" value="{{refereeLevel}}">{{refereeLevel}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Referee coach Level</ion-label>
                <ion-select [(ngModel)]="referee.refereeCoach.refereeCoachLevel">
                    <ion-option *ngFor="let refereeCoachLevel of constantes.refereeCoachLevels" value="{{refereeCoachLevel}}">{{refereeCoachLevel}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-item-group>
        <ion-item>
            <ion-label fixed>Mobile phones</ion-label>
            <ion-input type="phone" [(ngModel)]="referee.mobilePhones"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Speaking languages</ion-label>
            <ion-select [(ngModel)]="referee.speakingLanguages" multiple="true">
                <ion-option *ngFor="let lang of constantes.languages" value="{{lang[0]}}">{{lang[1]}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <button ion-button secondary style="width: 100%;" (click)="newReferee($event)">Save</button>

</ion-content>