<!--
  Generated template for the SkillProfileEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Referee level edition</ion-title>
        <ion-buttons end><button ion-button menuToggle ion-button icon-only><ion-icon name="menu"></ion-icon></button></ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="skillProfile">
        <ion-item text-wrap>
            <ion-label fixed>Name</ion-label>
            <ion-input type="text" [(ngModel)]="skillProfile.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Description</ion-label>
            <ion-textarea placeholder="Enter a description of profile" rows="3" [(ngModel)]="skillProfile.description"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Requirement:</ion-label>
            <ion-select [(ngModel)]="skillProfile.requirement">
                <ion-option value="ALL_REQUIRED">All domain</ion-option>
                <ion-option value="MAJORITY_REQUIRED">Domain majority</ion-option>
            </ion-select>
        </ion-item>
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em;">Sets of skills</ion-item-divider>
            <ion-item *ngFor="let skillSet of skillProfile.skillSets" text-wrap>
                <button ion-item (click)="skillSetSelected($event, skillSet)">{{skillSet.name}}</button>
                <ion-icon item-end name="trash" (click)="deleteSkillSet(skillSet)"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-input item-content type="text" placeholder="Enter a name of a new set of skills" [(ngModel)]="skillSetName"></ion-input>
                <button ion-button item-end (click)="newSkillSet($event)" [disabled]="!skillSetName" class="greenButton">+</button>
            </ion-item>
        </ion-item-group>

    </ion-list>

    <button ion-button (click)="saveSkillProfile($event)" class="greenButton" style="width: 100%;">Save</button>
    <ion-fab bottom right *ngIf="skillProfile">
        <button ion-fab (click)="deleteSkillProfile($event)" *ngIf="skillProfile.dataStatus !== ' NEW '" class="plusButton redButton">X</button>
    </ion-fab>
</ion-content>