<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="saveNback()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Competition Edition</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="competition && !loading" (swipe)="onSwipe($event)">
    <ion-list>
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label>Competition information</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label position="fixed">name:</ion-label>
                <ion-input type="text" [(ngModel)]="name" minlength="1" required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Date:</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="date" style="text-align: center;"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Region:</ion-label>
                <ion-select *ngIf="!readonly" [(ngModel)]="competition.region" style="text-align: center;">
                    <ion-select-option *ngFor="let region of regions" value="{{region}}">{{region}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Country:</ion-label>
                <ion-select [(ngModel)]="competition.country">
                    <ion-select-option *ngFor="let country of constantes.countries" value="{{country[0]}}">{{country[1]}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-item-group>
    </ion-list>
    <div *ngIf="errors && errors.length" style="margin: 5px 20px">
        <div style="color: red;">Detected errors:</div>
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>
    <div style="text-align: center">
        <ion-button shape="round" (click)="back()">Cancel</ion-button>
        <ion-button shape="round" (click)="saveNback()">Save</ion-button>
    </div>
    <div style="margin-top: 20px;">
        <ion-segment #segment id="tabSegment" [(ngModel)]="viewName">
            <ion-segment-button value="R">Referees</ion-segment-button>
            <ion-segment-button value="C">Coaches</ion-segment-button>
            <ion-segment-button value="G">Games</ion-segment-button>
        </ion-segment>
    </div>

    <ion-list *ngIf="viewName === 'R'">
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label>{{referees.length}} Referee(s)</ion-label>
                <ion-icon slot="end" name="add" (click)="addReferee()"></ion-icon>
            </ion-item-divider>
            <ion-item *ngFor="let referee of referees">
                <ion-icon slot="start" *ngIf="!referee.photoId" name="person"></ion-icon>
                <ion-avatar slot="start" *ngIf="referee.photoId"><img src="img/my-avatar.png"></ion-avatar>
                <ion-label class="listItemButton">
                    {{referee.shortName}}<br> {{referee.firstName}} {{referee.lastName}}<br> {{referee.referee.refereeLevel}} ({{referee.referee.refereeCategory}})
                </ion-label>
                <ion-icon slot="end" name="trash" (click)="deleteReferee(referee)"></ion-icon>
            </ion-item>
        </ion-item-group>
    </ion-list>
    <ion-list *ngIf="viewName === 'C'">
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label>{{coaches.length}} Referee Coach(es)</ion-label>
                <ion-icon slot="end" name="add" (click)="addRefereeCoach()"></ion-icon>
            </ion-item-divider>
            <ion-item *ngFor="let coach of coaches">
                <ion-icon slot="start" *ngIf="!coach.photoId" name="person"></ion-icon>
                <ion-avatar slot="start" *ngIf="coach.photoId"><img src="img/my-avatar.png"></ion-avatar>
                <ion-label class="listItemButton">
                    {{coach.shortName}}<br> {{coach.firstName}} {{coach.lastName}}<br> {{coach.refereeCoach.refereeCoachLevel}}
                </ion-label>
                <ion-icon slot="end" name="trash" (click)="deleteRefereeCoach(coach)"></ion-icon>
            </ion-item>
        </ion-item-group>
    </ion-list>
    <ion-list *ngIf="viewName === 'G'">
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label>{{competition.allocations.length}} Game(s)</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let alloc of competition.allocations" (click)="allocSelected(alloc)">
                <ion-label>
                    {{dateService.date2string(alloc.date)}} {{alloc.timeSlot}} Field:{{alloc.field}} Cat:{{alloc.gameCategory}}
                    <br>Referees:<span *ngFor="let ref of alloc.referees"> {{ref.refereeShortName}}</span>
                    <br>Coaches:<span *ngFor="let coach of alloc.refereeCoaches"> {{coach.coachShortName}}</span>
                </ion-label>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>